<% provide(:title, 'Case Study - Gialina Pizzeria') %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <h2>Hospitality Case Study <small>

  We were thrilled to get to work with one of our favorite local restaurants, <a href="http://www.gialina.com/">Gialina Pizzeria</a>.  A tiny neighborhood place that serves up some of the best pizza you will ever have.  The anchor element of the interior design, and overall feel of the place are 4 large vintage black and white photographs of the owner’s family. These photographs are even mentioned in <a href="http://www.sfgate.com/food/article/Gialina-s-crust-sets-this-pizza-apart-2300031.php">Michael Bauer’s Chronicle review</a>.

  </small></h2>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <%= image_tag("gpcs1.jpg", alt: "Gialina Pizzeria Interior Showing 4 large acrylic facemounted prints", class: "img-responsive") %>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <h2><small>

  When the restaurant opened, the original prints had been scanned, printed, and mounted to foam-core. After years of abuse, they were in need of replacement and that is where we came in. The digital files had been lost, but the original prints were still available for us to scan, retouch and print. <br><br>

  The new prints were mounted to 3mm aluminum composite panels, and facemounted with 1/8” non-glare matte acrylic for maximum protection. Non-glare suited this application perfectly, being easier to maintain, and not producing reflections that could distract from the images in a busy restaurant. The four newly printed and mounted images where finished with sturdy aluminum back frames for secure hanging, while pushing the images off the wall by a little less than an inch for a floating effect that gently draws attention to the images.


  </small></h2>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <%= image_tag("gpcs2.jpg", alt: "Gialina Pizzeria Interior detail Showing 2 large acrylic facemounted prints", class: "img-responsive") %>
  </div>
</div>  
