<div class="" id="footer">
  <a class="pull-left" href="/"><div id="footlogo"></div></a>
  <div class="foottext small">415-867-2749 | info@mbisf.com | &copy; Mullen Brothers Imaging San Francisco - 2014</div>
</div>